<a href="https://colab.research.google.com/github/akhilkk1996/iouring.career/blob/main/iouringcareer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cp -r '/content/drive/MyDrive/iouring.csv' '/content/'

In [ ]:
import pandas as pd
import operator
df = pd.read_csv('/content/iouring.csv')
df

      Unnamed: 0 First Name   Last Name  ... Age        Date    Id
0              1      Dulce       Abril  ...  32  15/10/2017  1562
1              2       Mara   Hashimoto  ...  25  16/08/2016  1582
2              3     Philip        Gent  ...  36  21/05/2015  2587
3              4   Kathleen      Hanner  ...  25  15/10/2017  3549
4              5    Nereida     Magwood  ...  58  16/08/2016  2468
...          ...        ...         ...  ...  ..         ...   ...
4995        4996       Roma  Lafollette  ...  34  15/10/2017  2654
4996        4997     Felisa        Cail  ...  28  16/08/2016  6525
4997        4998   Demetria       Abbey  ...  32  21/05/2015  3265
4998        4999     Jeromy        Danz  ...  39  15/10/2017  3265
4999        5000   Rasheeda      Alkire  ...  29  16/08/2016  6125

[5000 rows x 8 columns]

In [ ]:
df.drop(['Unnamed: 0', 'Age', 'Date', 'Id'], axis = 1, inplace = True)

In [ ]:
d1=dict()
header=list(df.columns.values)
fields=[]
for field in header:
  for i in range(5000):
    for c in df[field][i]:
      if c in d1:
        d1[c]= d1[c]+1
      else:
        d1[c]=1
print (d1)

{'D': 700, 'u': 1600, 'l': 9000, 'c': 2900, 'e': 22900, 'M': 2100, 'a': 19100, 'r': 9000, 'P': 600, 'h': 1300, 'i': 8900, 'p': 100, 'K': 400, 't': 12700, 'n': 9900, 'N': 200, 'd': 3700, 'G': 1900, 's': 4000, 'o': 2900, 'E': 300, 'V': 300, 'z': 400, 'F': 5400, 'A': 700, 'k': 700, 'y': 1100, 'S': 3200, 'v': 300, 'L': 500, 'T': 300, 'B': 2100, 'H': 800, 'b': 800, 'g': 700, 'C': 600, 'J': 300, 'w': 600, 'm': 4700, 'W': 500, 'R': 200, 'U': 2600, 'Z': 100, 'f': 200, ' ': 3800}

In [ ]:
sdd1 = dict( sorted(d1.items(), key=operator.itemgetter(1),reverse=True))
print(sdd1)

In [ ]:
res=list()
outkey=list()
out=dict()
value=list(sdd1.values())
keys=list(sdd1.keys())
for x in value:
  for k,v in sdd1.items():
    if x==r:
      break
    if v == x:
      res.append(k)
  r=x
  res1=sorted(res)
  res.clear()
  for l in res1:
    outkey.append(l)
print(keys)
print (outkey)

['e', 'a', 't', 'n', 'l', 'r', 'i', 'F', 'm', 's', ' ', 'd', 'S', 'c', 'o', 'U', 'M', 'B', 'G', 'u', 'h', 'y', 'H', 'b', 'D', 'A', 'k', 'g', 'P', 'C', 'w', 'L', 'W', 'K', 'z', 'E', 'V', 'v', 'T', 'J', 'N', 'R', 'f', 'p', 'Z']
['e', 'a', 't', 'n', 'l', 'r', 'i', 'F', 'm', 's', ' ', 'd', 'S', 'c', 'o', 'U', 'B', 'M', 'G', 'u', 'h', 'y', 'H', 'b', 'A', 'D', 'g', 'k', 'C', 'P', 'w', 'L', 'W', 'K', 'z', 'E', 'J', 'T', 'V', 'v', 'N', 'R', 'f', 'Z', 'p']

In [ ]:
out = {}
for key in outkey:
    for valu in value:
        out[key] = valu
        value.remove(valu)
        break  
print ("Resultant dictionary is : " +  str(out))

Resultant dictionary is : {'e': 22900, 'a': 19100, 't': 12700, 'n': 9900, 'l': 9000, 'r': 9000, 'i': 8900, 'F': 5400, 'm': 4700, 's': 4000, ' ': 3800, 'd': 3700, 'S': 3200, 'c': 2900, 'o': 2900, 'U': 2600, 'B': 2100, 'M': 2100, 'G': 1900, 'u': 1600, 'h': 1300, 'y': 1100, 'H': 800, 'b': 800, 'A': 700, 'D': 700, 'g': 700, 'k': 700, 'C': 600, 'P': 600, 'w': 600, 'L': 500, 'W': 500, 'K': 400, 'z': 400, 'E': 300, 'J': 300, 'T': 300, 'V': 300, 'v': 300, 'N': 200, 'R': 200, 'f': 200, 'Z': 100, 'p': 100}